@base:rgb(184, 55, 55);


.asd{
    &:hover{
        color: @base;
    }
}

.border-radius {
            box-shadow: 1px 1px 1px #000000;
            border-radius: 5px;
  }


  .container{
      width: 2200px;
      margin: 50px auto;
      transform: translateZ(60px);
  }